.game_setting {
  max-width: 1000px;
  height: 252px;
  margin: 0 auto;
  margin-top: 47px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}
@media (max-width: 600px) {
  .game_setting {
    padding: 5%;
  }
  .game_setting_cards,
  .game_setting_game {
    margin: 0 auto;
  }
}
