.game_wrapper{
    width: 1000;
    height: 689px;
    padding: 27px 112px 118px 144px;
    background-color:rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.noscrool{
    overflow-y: hidden;
    }